body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Goblin One', serif;
}
p, a{
    font-family: 'Mulish', sans-serif;;
}
#active a{
    color: #5B3C90;
}
.nav {
    padding: 10px;
    background-color: black; 
    color: white;
    
}
.links-mobile div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-mobile div a:hover{
    color: #5B3C90;
}
.links-mobile div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logolinks{
    display: flex;
    justify-content: space-between;
    
}
.links div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links div a:hover{
    color: #5B3C90;
}
.links div {
    padding-right: 20px;
}
.links{
    display: flex;
    align-items: center;
    
}

.menu-icon {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

.menu-icon:hover {
    color: #5B3C90;
}

.links-mobile{
    display: none;
    
}
h1{
    text-align: center;
    color: white;
    margin-top: 50px;
    color: #5B3C90;

}
.statementcontainer{
    display: flex;
    justify-content: center;
}
.statement{
    width: 75%;
    text-align: center;
    color: white;
}
.description{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
h2{
    color: #5B3C90;
    margin-left: 80px;
    
}
.text{
    margin-top: auto;
    margin-bottom: auto;
}
.textcontainer{
    display: flex;
    align-items: center;
}
.description p{
    color: white;
    width: 400px;
    margin-left: 80px;
    margin-top: 10px;
}
.description img{
    width: 300px;
    height: 400px;
}
.skills{
    margin-left: 0px;
    position: relative;
    left: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.skillwrap{
    display: flex;
    justify-content: center;
}
.skillscontainer{
    width: 80%;
    
}
ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
li{
    color: white;
}
@media (max-width: 800px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .logolinks{
        display: block;
    }
    .links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logomenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-mobile {
        display: flex;
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    .description{
        display: block;
    }
    .description p{
        margin-left: 0px;
    }
    .img{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    h2{
        margin-left: 0px;
        width: 180px;
    }

    .textcontainer{
        display: flex;
        justify-content: center;
    }
    .skills{
        position: relative;
        left: 0px;
        margin-top: 50px;
    }
    .skillscontainer{
        width: 400px; 
    }
    ul{
        display: block;
        position: relative;
        right: 20px;
    }
}