body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Goblin One', serif;
}
p, a{
    font-family: 'Mulish', sans-serif;;
}
#active a{
    color: #5B3C90;
}
.nav {
    padding: 10px;
    background-color: black; 
    color: white;
    
}
.logo{
    padding-left: 20px;
}
.links-mobile div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-mobile div a:hover{
    color: #5B3C90;
}
.links-mobile div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logolinks{
    display: flex;
    justify-content: space-between;
    
}
.links div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links div a:hover{
    color: #5B3C90;
}
.links div {
    padding-right: 20px;
}
.links{
    display: flex;
    align-items: center;
    
}

.menu-icon {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

.menu-icon:hover {
    color: #5B3C90;
}

.links-mobile{
    display: none;
    
}
p{
    color: white;
}
.quote{
    color: #5B3C90;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 50px;
    text-align: center;
}
.question{
    font-size: 36px;
    text-align: center;
}
.info{
    text-align: center;
    font-size: 20px;
}
.contactmail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail{
    margin-left: 10px;
    color: white;
}
@media (max-width: 800px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .logolinks{
        display: block;
    }
    .links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logomenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .hidden{
        display: none;
    }
    .quote{
        font-size: 28px;
    }
    .question{
        font-size: 24px;
    }
    .info{
        font-size: 16px;
    }
}