body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}
.nav {
    padding: 10px;
    background-color: black; 
    color: white;
    
}
.links-mobile div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-mobile div a:hover{
    color: #5B3C90;
}
.links-mobile div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logolinks{
    display: flex;
    justify-content: space-between;
    
}
.links div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links div a:hover{
    color: #5B3C90;
}
.links div {
    padding-right: 20px;
}
.links{
    display: flex;
    align-items: center;
    
}

.menu-icon {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

.menu-icon:hover {
    color: #5B3C90;
}

.links-mobile{
    display: none;
    
}

h1{
    text-align: center;
    color: #5B3C90;
    margin-top: 50px;
}
.projectcard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.projectframe{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-position: bottom;
    margin: 20px;
    margin-top: 3%;
    border-radius: 10px;

}
.projectdetails{
    
    background-color: #5B3C90;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 250px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.projectdetails h2{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}
.btn{
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;  
}
.btn:hover{
    background-color: #1c1c1c;
}
@media (max-width: 800px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .logolinks{
        display: block;
    }
    .links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logomenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-mobile {
        display: flex;
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
}