body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: white;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Goblin One', serif;
}
p, a{
    font-family: 'Mulish', sans-serif;;
}
#active a{
    color: #5B3C90;
}
.nav {
    padding: 10px;
    background-color: black; 
    color: white;
    
}
.logo{
    padding-left: 20px;
}
.links-mobile div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-mobile div a:hover{
    color: #5B3C90;
}
.links-mobile div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logolinks{
    display: flex;
    justify-content: space-between;
    
}
.links div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links div a:hover{
    color: #5B3C90;
}
.links div {
    padding-right: 20px;
}
.links{
    display: flex;
    align-items: center;
    
}

.menu-icon {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

.menu-icon:hover {
    color: #5B3C90;
}

.links-mobile{
    display: none;
    
}
.overview{
    display: flex;
    justify-content: center;
}
.overview div{
    justify-content: left;
}
.container{
    display: flex;
    justify-content: center;
}
li{
    position: relative;
    right: 20px;
}
.details{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 500px;
}
.img img{
    width: 195px;
    height: 195px;
}
.img{
    padding: 20px;
    display: flex;
    align-items: center;
    
}
.color h2{
    display: flex;
    justify-content: center;
    position: relative;
    right: 335px;
    margin-left: 50px;
    
}
.colors{
    display: flex;
    justify-content: center;
    margin-left: 20px;

}
.colors img{
    width: 576px;
    height: 596px;
}
.prototype h2{
    margin-top: 50px;
    text-align: left;
    position: relative;
    left: 20px;
    
}

.screens{
    
    display: flex;
    justify-content: center;
    
}
.screen{
    margin-left: 20px;
    margin-bottom: 25px;
}
.screen img{
    width: 218px;
    height: 476px;
}

@media (max-width: 800px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .logolinks{
        display: block;
    }
    .links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logomenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .hidden{
        display: none;
    }
    .overview{
        display: block;
    }
    .overview div{
        justify-content: left;
    }
    .container{
        display: block;
        
    }
    .container div{
        justify-content: center;
    }
    .details{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 0px;
    }
    .img{
        justify-content: center;
    }
    .color h2{
        display: flex;
        justify-content: left;
        position: static;
        margin-left: 10%;
        
        
    }
    .colors{
        margin-left: 0px;
    }
    .colors img{
        width: 288px;
        height: 298px;
        margin-left: 10%;
    }
    .prototype h2{
        margin-top: 50px;
        margin-left: 10%;
        text-align: left;
        position: static;
    }
    .screens{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-right: 20px;
        margin-left: 10%;
    }
    .screen{
        margin-left: 0px;
    }
    .screen img{
        width: 218px;
        height: 476px;
    }
}