body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Goblin One', serif;
}
p, a{
    font-family: 'Mulish', sans-serif;;
}
#active a{
    color: #5B3C90;
}
.nav {
    padding: 10px;
    background-color: black; 
    color: white;
    
}
.logo{
    padding-left: 20px;
}
.links-mobile div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links-mobile div a:hover{
    color: #5B3C90;
}
.links-mobile div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.logolinks{
    display: flex;
    justify-content: space-between;
    
}
.links div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.links div a:hover{
    color: #5B3C90;
}
.links div {
    padding-right: 20px;
}
.links{
    display: flex;
    align-items: center;
    
}

.menu-icon {
    cursor: pointer;
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
}

.menu-icon:hover {
    color: #5B3C90;
}

.links-mobile{
    display: none;
    
}

h1{
    text-align: center;
    color: #5B3C90;
    margin-top: 50px;
}
h2{
    font-size: 16px;
}
.projectcard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.projectframe{
    background-size: cover;
    height: 400px;
    background-position: top;
    margin: 20px;
    margin-top: 3%;
    border-radius: 10px;

}
.projectframe1{
    background-image: url("../images/buffelboy.png");
}
.projectframe2{
    background-image: url("../images/whosQ.png");
}
.projectframe3{
    background-image: url("../images/ugc.png");
}
.projectdetails{
    background-color: #5B3C90;
    width: 300px;
    padding-bottom: 30px;
    margin-top: 295px;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
.projectdetails h2{
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}
.btn{
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 20px;  
}
.btn:hover{
    background-color: #1c1c1c;
}
@media (max-width: 800px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .logolinks{
        display: block;
    }
    .links {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .logomenu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .links-mobile {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
    .hidden{
        display: none;
    }
}